.container {
  max-width: 1240px !important;
  padding: 0 !important;
}
.form-control {
  width: 80% !important;
}
header {
  background-image: url(../img/circle.png);
  background-color: white;
  background-position: top right;
  background-size: 52%;
  padding-top: 1px;
  background-repeat: no-repeat;
}
.search-container {
  position: relative;
}
a.navbar-brand.fw-bold {
  max-width: 200px;
}
a.nav-link.me-lg-3 {
  margin-right: 40px !important;
  gap: 46px;
}
.search-container i {
  position: absolute;
  right: 10px;
  top: 10px;
}
.navbar .container .navbar-brand img {
  padding-left: 22px;
  padding-bottom: 30px;
}

.nav-link {
  color: black;
}
/* img {
  max-width: 95%;
  margin-left: 20px;
} */
.about-img {
  width: 10px;
  height: 10px;
  margin-top: 236px;
}
.navbar {
  margin-bottom: 100px;
  margin-top: 42px;
  margin-left: 92px;
}
.navbar .custom-search {
  border-radius: 100px;
  border: 2px solid black;
  background: #53c0c7;
  color: black;
  padding-right: 63px;
}
.navbar .nav-item {
  padding-top: 13px;
}
.premium {
  padding-top: 80px;
  padding-left: 71px;
}
.premium .premium-heading {
  font-size: 60px;
  padding-top: 50px;
}

.sepical-imgs {
  margin-top: -320px;
}

.premium-price {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 87px;
  font-size: 27px;
}
.premium-link {
  background-color: #53c0c7;
  border-color: #53c0c7;
  padding: 30px;
  border-radius: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  width: 297px;
  height: 88px;
}
.premium-text {
  margin-top: 28px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.premium-right-items {
  position: absolute;
  top: 0;
  right: 25px;
  margin-top: 20px;
}
.premium-right-item {
  display: flex;
  gap: 10px;
}
.premium-right-item-name a {
  color: white;
}
.premium-right-img {
  margin-left: 30px;
}
.premium-right {
  position: relative;
  padding-bottom: 100px;
}
.premium-right-item-name {
  text-align: right;
}
.premium-right-item-price {
  color: white;
}
.names {
  color: white;
  margin-left: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.name {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.section-1 img {
  max-width: 109%;
  margin-right: 50px;
}
.minimalist-divider {
  width: 90px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-bottom: 30px;
  margin-top: -35px;
}
.custom-text-opensan-400 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #46464e;
}
.minimalist-title h2 {
  margin-bottom: 34px;
  font-family: "Open Sans", sans-serif;
  max-width: 300px;
  font-size: 48px;
}
.minimalist-right {
  max-width: 90%;
  padding-top: 62px;
  padding-left: 88px;
}
.minimalist-text {
  margin-bottom: 39px;
}
.cart-link a span {
  position: absolute;
  top: 2px;
  right: 2px;
  color: white;
  background-color: red;
  padding: 3px;
}
.cart-link a {
  position: relative;
}
.minimalist-link {
  /* margin-left: 0; */
  width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 273px;
}
.minimalist-image img {
  margin-bottom: 100px;
  /* padding-top: 112px; */
  /* width: 39rem; */
  margin-top: 88px;
  margin-left: 36px;
  max-width: 110%;
}
.content-3 {
  background-image: url(../img/circle-2.png);
  background-position: top left;
  background-size: 34%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: -23px;
}

.special-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 100px;
  padding-top: 138px;
  font-size: 44px;
  margin-left: 116px;
}

.sub-col-left {
  padding-right: 83px;
}

.sale {
  color: red;
  text-decoration-line: line-through;
  margin-right: 5px;
}
.special-list {
  display: flex;
  align-items: center;
  gap: 0 70px;
}
/* .special-img a {
  width: 249px;
  min-height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */
.img-fluid {
  margin-left: 20px;
  max-width: 400px;
}
.special-item {
  text-align: center;
  padding: 29px;
  padding-left: 48px;
}
/* .special-heading {
  margin-bottom: 150px;
} */
.special-title {
  font-size: 25px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 28px;
}
.text {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.special-link {
  margin-top: 25px;
}
a.special-category {
  position: absolute;
}
.special-category {
  border-bottom: 3px solid black;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  margin-left: 23px;
}
.sub {
  padding: 308px 0 270px;
  background-color: #f2f2f2;
}
.sub-form {
  margin-right: 64px;
}
.sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 44px;
  padding-left: 75px;
  margin-top: -4px;
  margin-bottom: 55px;
}
.sub-list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 40px;
}
.sub-item {
  border-bottom: 1px solid #ccc;
  background: #f2f2f2;
  font-weight: 400;
}
.sub-input {
  padding: 13px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ccc;
  background: #f2f2f2;
  font-weight: 500;
}
.sub-table {
  background-color: #f9a34c;
  color: white;
  padding: 24px;
  border-radius: 0px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-top: 40px;
}
.sub-table:hover {
  background-color: #f9a34c;
}
.sub-col-left {
  padding-right: 83px;
}
.custom-text-opensan {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #46464e;
  margin-top: 0;
  margin-left: 4rem;
}
.special-title {
  background-position: center;
}
.lounge-col-img {
  background-image: url(../img/4.png);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 541px;
  height: 542px;
  background-size: cover;
  position: relative;
}
.lounge-title {
  color: black;
  max-width: 195px;
  text-align: center;
  z-index: 1;
}
.lounge-text-white {
  color: white;
  max-width: 123px;
}
.lounge-col {
  position: relative;
}
.lounge-col-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d5924f;
  opacity: 0.5;
}
.special-title,
.special-text,
.minimalist-divider {
  position: relative;
  z-index: 2;
}
.lounge-col-img1 {
  background-image: url(../img/5.png);
  width: 534px;
  height: 239px;
}
.lounge-col-img1::before {
  background-color: #bd667a;
}
.lounge-col-img2 {
  background-image: url(../img/6.png);
  width: 543px;
  height: 258px;
  margin-top: 50px;
  margin-right: 100px;
}
.lounge-col-img2::before {
  background-color: #685f80;
}
.lounge-col-img3 {
  background-image: url(../img/7.png);
  width: 352px;
  height: 383px;
}
.lounge-col-img3::before {
  background-color: #636067;
}
.lounge-col-img4 {
  background-image: url(../img/8.png);
  width: 733px;
  height: 383px;
  margin-right: 50px;
}
.lounge-col-img4::before {
  background-color: #51a3a8;
}
.lounge-divider {
  width: 117px;
  border-width: 2px;
  border-style: solid;
  border-color: #231f20;
  margin-top: 134px;
}
.lounge-link {
  color: #231f20;
  text-decoration: none;
}
.lounge-link {
  color: #231f20;
  text-decoration: none;
  border-bottom: 3px solid black;
  padding-bottom: 3px;
}
.lounge-link-white {
  color: white;
  border-bottom-color: white;
}
button.slick-arrow {
  display: none !important;
}
.content-4 {
  padding-top: 177px;
  padding-left: 138px;
}
.bathoom-col {
  margin-bottom: 25px;
}
.footer {
  position: relative;
  overflow: hidden;
  padding-left: 141px;
  font-size: 17px;  
}
.footer::before {
  position: absolute;
  top: 368px;
  right: -250px;
  width: 900px;
  height: 900px;
  background: #53c0c7;
  border-radius: 50%;
  content: "";
  transform: translateY(-285px);
}
.footer-text {
  margin-bottom: 10px;
}
.desgn {
  color: #46464e;
  text-decoration: none;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.dark {
  color: #231f20;
  font-weight: 500;
  text-decoration: none;
}
li {
  list-style: none;
}
.footer-link {
  display: flex;
}
.footer-copyright {
  border-top: 1px solid #46464e;
  margin-top: 77px;
  padding-top: 52px;
  /* margin-bottom: 40px; */
}
.footer-img {
  background-image: url(../img/circle.png);
  width: 976px;
  height: 976px;
  background-repeat: top right;
  background-position: center;
  background-size: cover;
}
.footer-heading {
  font-size: 35px;
  font-weight: 500;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.col-6 {
  margin-bottom: 100px;
}
.footer-right {
  /* margin-left: 100px; */
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
  margin-left: 106px;
}
.footer-icon img {
  color: white;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  transform: translateY(246px);
  gap: 0 25px;
  margin-left: 242px;
  max-width: 237px;
}
.underlined-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}
