*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
}
.container{
    width: 100%;
}
.header{
    width: 100%;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 7%;
    align-items: center;
}
.nav .nav-logo{
    width: 100px;
}
.nav nav a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    margin: 0 40px;
    transition: color .5s;
}
.nav nav .search{
    height: 50px;
    width: 300px;
    padding: 0px 5px;
    border-radius: 50px;
    font-weight: 500;  
}
:focus{
    outline: none;
}
