.header{
    margin-left: 57px;
}
.header .background-circle {
    display: block;
    position: absolute;
    top: -96%;
    right: -57.5%;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.header .header-menu-logo {
    margin-top: -8px;
    width: 13%;
}
.header .header-menu-search div {
    position: absolute;
    top: 28%;
    right: 10%;
}
.header .header-menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
}
.header .header-menu-nav nav {
    display: flex;
    gap: 43px;
}
.header .header-menu-nav nav a {
    color: #231F20;
    font-weight: 600;
}
.header .header-menu-search {
    position: relative;
}
.header .header-menu-search input {
    font-weight: 300;
    border-radius: 25px;
    padding: 5px 15px;
    border: 4px solid #231F20;
    height: 45px;
    width: 250px;
    background-color: transparent;
    outline: none;
}
.header .header-menu-search input::placeholder {
    color: black;
    font-weight: 300;
    font-style: italic;
  }
  .header .header-menu-search div {
    position: absolute;
    top: 28%;
    right: 10%;
  }
.header .icon-cart {
    position: relative;
    left: -35px;
    cursor: pointer;
    display: inline-block;
}
.header .icon-cart::before {
    content: "1";
    position: absolute;
    bottom: 85%;
    left: 54%;
    background-color: red;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.7rem;
    color: white;
}
.header .menu-mobile {
    display: none;
  }

  .header .header-menu {
    max-width: 1245px;
    margin: 0 auto;
    padding-top: 43px;
    padding-bottom: 80px;
    padding-left: 42px;
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    color: black;
}


.home{
    margin-left: 140px;
}
.home .home-container {
    max-width: 1245px;
    margin: 0 auto;
    position: relative;
    padding-right: 2px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.home .home-detail {
    width: 30%;
    margin-right: 20px;
}
.home .home-detail-title {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 52px;
    color: #231F20;
}
.home .home-detail-para {
    font-size: 1rem;
    line-height: 1.6;
    color: #46464E;
    margin-top: 39px;
}
.home .home-detail-price {
    font-size: 2rem;
    margin-top: 26px;
    color: #231F20;
}
.home .home-img-price {
    position: absolute;
    top: 5.5%;
    right: 5%;
    text-align: end;
    color: #fff;
}
.home .home-img-price div {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 10px;
}
.home .home-img-price div a {
    text-decoration: underline;
    color: #fff;
}
.home .home-detail button {
    background-color: #50c1c7;
    padding: 32px 84px;
    border: none;
    color: white;
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}
.home .home-img {
    position: relative;
    width: 72%;
    z-index: 50;
}





.livingroom {
    max-width: 1245px;
    margin: 0 auto;
    padding: 214px 50px 82px 38px;
    display: flex;
    gap: 100px;
}
.livingroom .livingroom-img {
    width: 60%;
}
.livingroom .livingroom-detail {
    width: 35%;
    margin-top: -22px;
    padding-left: 23px;
}
.livingroom .livingroom-detail-header {
    font-weight: 700;
    display: inline;
    position: relative;
    color: #231F20;
}
.livingroom .livingroom-detail-header::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 125%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #231F20;
}
.livingroom .livingroom-detail-title {
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 38px;
    margin-bottom: 0;
    line-height: 1;
    color: #231F20;
}
.livingroom p {
    font-size: 1rem;
    margin-top: 35px;
    line-height: 1.6;
    color: #46464E;
    text-align: justify;
}
.livingroom button {
    background-color: #50c1c7;
    padding: 34px 72px;
    border: none;
    color: white;
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 50px !important;
}


.special {
    max-width: 1245px;
    margin: 0 auto;
    position: relative;
}
.special .special-background {
    position: absolute;
    width: 79%;
    right: 71%;
    z-index: -10;
    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
}
.special .special-title {
    text-align: center;
    padding-top: 131px;
    padding-left: 118px;
    font-weight: 600;
    font-size: 3.3rem;
    color: #231F20;
}
.special .special-product {
    margin-right: -420px;
    position: relative;
    z-index: 50;
    margin-top: 128px;
    display: flex;
    gap: 62px;
    padding-left: 70px;
}
.special .product-img {
    position: relative;
}
.special .product-img img {
    width: 100%;
}
.special .special-title {
    text-align: center;
    padding-top: 131px;
    padding-left: 118px;
    font-weight: 400;
    font-size: 3.3rem;
    color: #231F20;
}
.special .special-product {
    margin-right: -420px;
    position: relative;
    z-index: 50;
    margin-top: 128px;
    display: flex;
    gap: 62px;
    padding-left: 70px;
}
.special .product-category {
    position: absolute;
    top: 2%;
    left: 4%;
    font-weight: 700;
    font-size: 1rem;
}
.special .product-category::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #231F20;
    bottom: -30%;
    right: 0;
}
.special .product-content {
    text-align: center;
    padding-top: 27px;
}
.special .product-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;
    color: #231F20;
}
  .special .product-price {
    margin-top: 15px;
    font-weight: 400;
    color: #46464E;
  }
  .special .product-price span {
    margin-right: 5px;
  }
  .special .product-price i {
    margin-left: 5px;
  }
  .special .product-price-cost {
    color: red;
    text-decoration: line-through;
    margin-right: 5px;
  }
.special .product-content button {
    background-color: #50c1c7;
    padding: 33px 0px;
    border: none;
    color: white;
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    width: 250px !important;
    margin-top: 32px !important;
}


.categories {
    max-width: 1245px;
    margin: 0 auto;
    padding: 176px 64px 144px 69px;
}
.categories .category-item img {
    width: 100%;
}
.categories .categories-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px 30px;
    padding: 0;
}
.categories .categories-top .item1 {
    grid-row: 1/3;
}
.categories .category-item {
    position: relative;
}
.categories .categories-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    text-align: center;
}
.categories .categories-content-title {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    /* width: 195px; */
    margin-bottom: 15px;
    color: #231F20;
}
.categories .categories-content-view {
    font-weight: 700;
    display: inline;
    position: relative;
    cursor: pointer;
    color: #231F20;
}
.categories .categories-content-view::after {
    content: " ";
    display: inline-block;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #231F20;
}
.categories .categories-bottom {
    display: flex;
    gap: 27px;
    margin-top: 26px;
    padding: 0;
}
.categories .item4 {
    color: white;
}
.categories .category-item {
    position: relative;
}
.categories .special-content-title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    width: 195px;
    margin-bottom: 15px;
    color: white;
    width: 190px !important;
}
.categories .special-content-view {
    font-weight: 700;
    display: inline;
    position: relative;
    cursor: pointer;
    color: white;
}
.categories .special-content-view::after {
    content: " ";
    display: inline-block;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
}
.contact {
    background: #F2F2F2;
}
.contact .contact-container {
    padding: 143px 0px 143px 63px;
    max-width: 1245px;
    margin: 0 auto;
    display: flex;
    gap: 33px;
}
.contact .contact-content {
    width: 38%;
    font-weight: 400;
}
.contact .contact-content-title {
    font-size: 3rem;
    font-weight: 400;
    color: #231F20;
}
.contact .contact-content-para {
    margin-top: -14px;
    line-height: 1.5;
    color: #46464E;
}
.contact .contact-form {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}
.contact .form-control {
    display: flex;
    gap: 30px;
}
.contact .form-item {
    display: flex;
    flex-direction: column;
}
.contact .form-item label {
    font-weight: 600;
    color: #231F20;
}
.contact .form-item input {
    margin-top: 12px;
    border: none;
    border-bottom: 1px solid #46464E;
    background: none;
    width: 256px;
    padding: 1px 8px;
    outline: none;
    font-size: 1rem;
}
.contact .contact-form button {
    /* background-color: #50c1c7; */
    padding: 35px 0px;
    border: none;
    color: white;
    /* margin-top: 80px; */
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 50px !important;
    background-color: #F9A34C !important;
}
footer .footer {
    max-width: 1245px;
    margin: 0 auto;
    padding: 105px 70px 97px 70px;
    display: flex;
    gap: 122px;
    position: relative;
    z-index: 50;
}
footer .footer h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #231F20;
}
footer .footer h4 {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
    color: #231F20;
}
footer .footer .type {
    display: grid;
    grid-template-columns: auto auto;
    gap: 63px;
}
footer .footer ul {
    margin: 15px 0px;
    padding: 0;
}
footer .footer li {
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
}
footer .footer li a {
    color: #46464E;
}
footer .footer .footer-social {
    position: absolute;
    z-index: 30;
    width: 100%;
    left: 76%;
    top: 71.5%;
    display: flex;
    gap: 25px;
}
footer .footer .footer-social i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
footer .footer .footer-bg {
    position: absolute;
    z-index: 20;
    width: 100%;
    left: 59%;
    top: 25%;
}
footer .copyright {
    padding: 54px 210px;
    border-top: 1px solid grey;
    color: #46464E;
    position: relative;
    z-index: 10;
}